<script type="text/ng-template" id="create_group.html">
  <div class="modal-header">
    <h3 class="modal-title">Create Group</h3>
  </div>
  <div class="modal-body">
    <form name = "form" novalidate>
      <div class="form-group">
        <label for="gname">Group Name</label>
        <input type="text" class="form-control" id="gname" name = "name" ng-model="group.name" placeholder="Requirement.." ng-minlength="1" required>
      </div>
      <div class="form-group">
        <label for="gdesc">Description</label>
        <input type="text" class="form-control" id="gdesc" name="description" ng-model="group.description" placeholder="Requirement..." ng-minlength="1" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="create()" ng-disabled="form.$invalid">Create</button>
    <button class="btn btn-warning" ng-click="cancle()">Cancel</button>
  </div>
</script>
