<div ng-include="'components/navbar/navbar.html'"></div>

<div class="login-body col-sm-12 col-xs-12" >
  <article class="container-login center-block">
    <section>
      <ul id="top-bar" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#/login">UNZEMS LOGIN</a></li>
      </ul>
      <div class="tab-content tabs-login col-lg-12 col-md-10 col-sm-10 cols-xs-10">
        <div id="login-access" class="tab-pane fade active in">
          <h2><i class="glyphicon glyphicon-log-in"></i> Login</h2>

          <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal" name="form" ng-submit="login(form)" novalidate>
            <div class="form-group " ng-class = "{'has-error' : form.email.$invalid && !form.email.$pristine}">
              <label for="login-access" class="sr-only">Email</label>
              <input ng-pattern = "*@*" type="text" class="form-control" name="email" id="login_value"
                     placeholder="Email" tabindex="1" ng-model="user.email" required/>
            </div>
            <div class="form-group "  ng-class = "{'has-error' : form.password.$invalid && !form.password.$pristine}">
              <label for="password" class="sr-only">Password</label>
              <input type="password" class="form-control" name="password" id="password"
                     placeholder="Password" value="" tabindex="2" ng-model="user.password" ng-minlength="3" ng-maxlength="15" required/>
            </div>
            <div class="checkbox">
              <label class="control-label" for="remember_me">
                <input type="checkbox" name="remember_me" id="remember_me" value="1" class="" tabindex="3"/> remember me
              </label>
            </div>
            <br/>

            <div class="form-group ">
              <button type="submit" ng-disabled="form.$invalid" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-primary">Enter
              </button>
            </div>

            <div class="form-group ">
              <a href="#/signup"><button ng-click="showSignUp()" tabindex="5" class="btn btn-lg">Sign up
              </button></a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>
</div>


