<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <tabset>
    <tab heading="My Groups" ng-click="_myGroups(true, myGroupName)">
      <div style="margin-top:5px;">
        <div class="panel-heading " style="height:50px; background-color:#8f968f;">
          <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7 input-group-sm pull-left" style="padding-left:0px;">
            <input type="text" class="form-control" ng-change="_myGroups(true, myGroupName)" ng-model="myGroupName"  placeholder="Search My Group...."/>
          </div>
          <button type="button" class="pull-right btn btn-default btn-sm col-lg-1 col-md-1 col-sm-5 cool-xs-5">
            <i class="fa fa-users"></i>&nbsp;
            <a href="#" ng-click="openCreateModal()">Create Group</a>
          </button>
        </div>
        <div class="panel-body">
          <group-card  info="group" type="myGroup" show-detail="showGroupDetail(group, 'myGroup')" ng-repeat="group in myGroups"></group-card>
        </div>
      </div>
    </tab>


    <tab heading="Other Groups" ng-click="_otherGroups(false, otherGroupName)">
      <div style="margin-top:5px;">
        <div class="panel-heading " style="height:50px; background-color:#8f968f;">
          <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7 input-group-sm pull-left" style="padding-left:0px;">
            <input type="text" class="form-control" ng-change="_otherGroups(false, otherGroupName)" ng-model="otherGroupName" placeholder="Search Group....."/>
          </div>
          <button type="button" class="pull-right btn btn-default btn-sm">
            <i class="fa fa-users"></i>&nbsp;
            <a href="#" ng-click="openCreateModal()">Create Group</a>
          </button>
        </div>
        <div class="panel-body">
          <group-card info="group" type="otherGroup" show-detail="showGroupDetail(group, 'otherGroup')" ng-repeat="group in otherGroups"></group-card>
        </div>
      </div>
    </tab>
  </tabset>

</div>

<div ng-include="'app/group/create/create_group.html'"></div>
<div ng-include="'app/group/read/read_group.html'"></div>
