<script type="text/ng-template" id="read_group.html">
  <div>
    <div class="modal-header">
      <h3 class="modal-title">
        Group Info
        <button ng-hide="profile.isMember" class="btn btn-primary pull-right" ng-click="memberJoin()">Join Group
        </button>
        <button ng-show="profile.isMember && !profile.isAdmin" class="btn btn-primary pull-right"
                ng-click="memberLeave()">Leave Group
        </button>
      </h3>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-2 col-sm-2 col-xs-2">Name:</div>
        <div class="col-md-10 col-sm-10 col-xs-10">{{group.name}}</div>
      </div>
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-2 col-sm-2 col-xs-2">Photo:</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img class="group_img" id="_photo" width="200px" height="200px" ng-src="{{group.photo}}">
          <div ngf-select ng-model="file"
               class="btn btn-default btn-sm" style="margin-left: 20px margin-top: 10px">Select File
          </div>
          {{file}}
          <!--<photo-profile info="profile" ></photo-profile>-->
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-2 col-sm-2 col-xs-2">Description:</div>
        <p></p>&nbsp
        <div class="col-md-10 col-sm-10 col-xs-10" style="margin-left: 10px">{{group.description}}</div>
      </div>
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-2 col-sm-2 col-xs-2">Member:</div>
        <div class="col-md-8 col-sm-8 col-xs-8" style="margin-left: 20px">{{group.member_count}}</div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-show="profile.isAdmin" class="btn btn-danger" ng-click="remove()">Delete</button>
      <button ng-show="profile.isAdmin" class="btn btn-primary" ng-click="update()">Update</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
