<div ng-include="'components/navbar/navbar.html'"></div>


<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="chat-panel panel panel-default">
    <div class="panel-heading " style="height:70px;" ng-style="backgroundImage">
      <div class="pull-left">
        <i class="fa fa-comments fa-fw"></i>
        {{group.name}}
      </div>
      <div class="form-group pull-right">
        <input type="text" ng-model="chat.contents" class="form-control" placeholder="Search Message...">
      </div>
    </div>

    <div id="chatscroll" style="height:730px; overflow:auto;" class="panel-body">
      <div ng-class="{right: isMychat(chat), left: !isMychat(chat), clearfix: true}"
           ng-repeat="chat in chats | filter: chat.contents">
        <div>
              <span ng-class="{'pull-right':isMychat(chat), 'pull-left':!isMychat(chat)}">
                      <img ng-src="http://placehold.it/50/{{callMyPhoto(chat)}}/fff" alt="사용자 이미지" class="img-circle">
              </span>

          <div class="chat-body clearfix">
            <div ng-class="{header:true, 'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}">
              <strong>{{chat.name}}</strong>
            </div>
            <div ng-class="{'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}"
                 style="font-size: medium">
              {{chat.contents}}
            </div>
          </div>
        </div>
        <div ng-class="{'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}"
             style="text-decoration-color: #686868; font-size: x-small">
          {{chat.date_time}}
        </div>
        <hr>
      </div>
    </div>
    <div class="panel-footer">

      <form class="form-group " ng-submit="sendMsg(chatText)">
        <div class="input-group">
          <span class="input-group-addon">
                <input type="checkbox" ng-model="notice">
          </span>
          <input id="btn-input" type="text" class="form-control input-sm" ng-model="chatText"
                 placeholder='Enter your message here' autofocus/>
          <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">전송</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bootcards-list">
  <div class="panel panel-default">
    <div class="panel-body" ng-style="backgroundImage">
      <form>
        <div class="row">
          <div class="col-xs-11">
            <h4 ng-style="titleFont" style="text-align:center;margin-bottom:15px">{{group.name}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <div class="form-group">
              <input type="text" ng-model="queryMember" class="form-control" placeholder="Search Member...">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </form>
    </div>
    <group-member info="member" ng-repeat="member in group.members | filter:queryMember"></group-member>
  </div>
</div>


<!--<ul class="chat" style="height: 680px">-->
<!--<li ng-class="{right: isMychat(chat), left: !isMychat(chat), clearfix: true}" ng-repeat="chat in chats">-->
<!--<span ng-class="{'pull-right':isMychat(chat), 'pull-left':!isMychat(chat)}">-->
<!--<img ng-src="http://placehold.it/50/{{callMyPhoto(chat)}}/fff"  alt="사용자 이미지" class="img-circle">-->
<!--</span>-->

<!--<div class="chat-body clearfix">-->
<!--<div ng-class="{header:true, 'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}">-->
<!--<strong>{{chat.name}}</strong>-->
<!--</div>-->
<!--<p ng-class="{'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}" style="font-size: medium">{{chat.contents}}</p>-->
<!--</div>-->
<!--<p ng-class="{'text-right': isMychat(chat), 'text-left' : !isMychat(chat)}" style="text-decoration-color: #686868; font-size: x-small">-->
<!--{{chat.date_time}}-->
<!--</p>-->
<!--</li>-->
<!--</ul>-->
