/*.chat {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/

/*}*/
/*.chat div {*/
  /*margin-bottom: 10px;*/
  /*padding-bottom: 5px;*/
  /*border-bottom: 1px dotted #999;*/
/*}*/
/*.chat div.left .chat-body {*/
  /*margin-left: 60px;*/
/*}*/
/*.chat div.right .chat-body {*/
  /*margin-right: 60px;*/
/*}*/

/*.scroller {*/
  /*white-space: pre-line;*/
  /*height: 680px;*/
  /*overflow-y: hidden;*/
  /*position: relative;*/
/*}*/
